
/* SECTION1 */

.section1 {
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

.grid-columns-section1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    margin-top: 75px;
}

.section1-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.section1-box:hover h3 {
    color: #c7b299;
}

.section1-box:hover .section1-box-bottom-border {
    border-bottom: 3px solid #c7b299;
}

.section1-box h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.658);
}

.section1-box a {
    text-align: center;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.521);
}

.section1-box-bottom-border {
    width: 75px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.521);
}


/* TABLET VERSION */

@media (max-width: 768px) {
    /* SECTION-1 */
    .section1 {
        height: 615px;
    }

    .grid-columns-section1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* MOBILE-VERSION */

@media (max-width: 426px) {
    /* SECTION-1 */
    .section1 {
        height: auto;
        padding-bottom: 15px;
    }

    .grid-columns-section1 {
        grid-template-columns: repeat(1, 1fr)
    }
}