HEADER

.header {
    height: auto;
}

.grid-columns-header {
    height: 125px;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    justify-items: center;
    align-items: center;
}

.logo-place {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu-place {
    display: grid;
    align-items: center;
}

.search-place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 30px;
}