/* SECTION-4 */

.section4 {
    margin-top: 80px;
    height: auto;
    width: 100%;
}

.grid-columns-section4 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-columns-section4 img {
    position: relative;
    top: 74px;
}

.text-section4 {
    margin-top: 195px;
}

.text-section4 h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 20px;
}

.text-section4 a {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.39);
}

.exept {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 40px;
}

.arrow {
    margin-left: 60px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-top: 10px
}

.arrow img {
    position: relative;
    top: 0;
}

/* LAPTOP 1024px VERSION */

@media (max-width: 1024px) {
    /* SECTION-4 */
    .image_box img {
        width: 300px;
    }

    .text_for_image {
        width: 300px;
    }
}


/* TABLET VERSION */

@media (max-width: 768px) {
    /* SECTION-4 */

    .section4 {
        height: auto;
        padding-bottom: 20px;
    }

    .grid-columns-section4 img {
        top: 159px;
    }

    .arrow img {
        top: 0px;
    }
}


/* MOBILE-VERSION */

@media (max-width: 426px) {
    /* SECTION-4 */

    .grid-columns-section4 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .grid-columns-section4 img {
        top: 10px;
        width: 300px;
        height: 375px;
    }

    .text-section4 h3 {
        margin-top: 20px;
        width: auto;
        margin-left: 20px;
    }

    .text-section4 {
        margin-top: 1px;
    }

    .text-section4 a {
        width: auto;
    }
   
    .arrow {
        margin-left: 5px;

    }

    .arrow img {
        width: 20px;
        height: 20px;
    }
}